{% extends 'base.html' %}
{% block content %}

        <div class="contenaire">
            <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                <div class="x_title">
                    <h3>Pays </h3>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                        Liste Pays <center>Clique sur l'icon <i class="fa fa-pencil-square-o"> pour ajoute une Region</i></center>
                    </p>
                    <table id="datatable-buttons" class="table table-striped table-hover" style="width:100%">
                    <thead>
                        <tr>
                        <th class="sm"></th>
                        <th>Pays</th>
                        <th>Code</th>
                        <th></th>
                        </tr>
                    </thead>

                    {% for pays in pays %}
                    <tbody>
                        <tr>
                        <td><a href="{% url 'region' pays.pk %}"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td>{{pays.nom}}</td>
                        <td>{{pays.code}}</td>
                        <td>
                            <a href="{% url 'edit' pays.pk %}"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'delete-pays' pays.pk %}"><i class="fa fa-trash-o "></i></a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        </div>
    </div>
        <br>
        <div class="contenaire">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="x_panel">
                    <div class="x_title">
                        <h3>Region </h3>
                        <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                        <p class="text-muted font-13 m-b-30">
                        Liste Region <center>Clique sur l'icon <i class="fa fa-pencil-square-o"> pour ajoute une Ville</i></center>
                        </p>
                        <table id="datatable-buttons" class="table table-striped table-hover" style="background-image: url('static/img/16-980x735.jpg')">
                        <thead>
                            <tr>
                            <th></th>
                            <th>Pays</th>
                            <th>Region</th>
                            <th></th>
                            </tr>
                        </thead>

                        {% for region in region %}
                        <tbody>
                            <tr>
                            <td><a href="{% url 'ville' region.pk%}" ><i class="fa fa-pencil-square-o"></i></a></td>
                            <td>{{region.pays}}</td>
                            <td>{{region.nom}}</td>
                            <td>
                                    <a href="{% url 'edite' region.pk %}" ><i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'delete-region' region.pk %}"><i class="fa fa-trash-o "></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenaire">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>Ville </h3>
                    <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    Liste Ville   <center>Clique sur l'icon <i class="fa fa-pencil-square-o"> pour ajoute le lieu de COLLECT</i></center>
                    </p>
                    <table id="datatable-buttons" class="table table-striped table-hover" style="background-image: url('static/img/16-980x735.jpg')">
                    <thead>
                        <tr>
                        <th></th>
                            <th>Pays</th>
                            <th>Region</th>
                            <th>Ville</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for ville in ville %}
                    <tbody>
                        <tr>
                        <td><a href="{% url 'collect' ville.pk%}" ><i class="fa fa-pencil-square-o"></i></a></td>
                            <td>{{ville.region.pays}}</td>
                            <td>{{ville.region}}</td>
                            <td>{{ville.nom}}</td>
                            <td>
                                <a href="{% url 'edites' ville.pk %}" ><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'delete-ville' ville.pk %}" ><i class="fa fa-trash-o "></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        </div>  
        </div>

        
{% endblock %}

<br><br><br>
