{% extends 'base.html' %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkboxes = document.querySelectorAll('input[name="consentement"]');
        var predonApte = document.getElementById('id_apte_predon');
    
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                var isApte = checkboxes[2].checked;  // La case à cocher "je consens à donner de mon sang" est à l'index 2
    
                predonApte.value = isApte ? "Apter" : "Non apter";
            });
        });
    });
    </script>
    
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>PRE DON</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>PARTIE RESERVEE A L'ENTRETIEN PRE DON <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="dropdown-item" href="#">Settings 1</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" method="post" action="{% url 'predon' %}" data-parsley-validate class="form-horizontal form-label-left">
                            {% csrf_token %}
                            <div class="row mb-1">
                                <div class="col">
                                    <div class="col-md-4 col-sm-12  form-group">
                                        <label class="form-label" required="">APTE</label>
                                        
                                        <input type="text" name="apte" id="" value="{{apte}}" placeholder="Entre votre Numero Cnib" class="form-control" readonly>
                                        
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form">
                                        <label class="form-label" for="form6Example1">Quantité à prélever</label>
                                        <input type="number" name="q_preleve" k="quantite" onblur="ajouterUniteDeMesure()" placeholder="" class="form-control" required="">
                                        
                                    </div>
                                </div>
                            </div>
                                <div class="row mb-1" id="sexe">
                                    <div class="col">
                                        <div class="form">
                                            <label class="form-label" for="preparation" required="">Préparation de PSL envisagée :</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form">
                                            <input class="form-check-input me-2" type="checkbox" name="preparation" value="AvecCPS" >Avec CPS
                                        </div>
                                    </div> 
                                    <div class="col">
                                        <div class="form">
                                            <input class="form-check-input me-2" type="checkbox" name="preparation" value="Sans CPS" >Sans CPS<br><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1" id="sexe">
                                    <div class="col">
                                        <div class="form">
                                            <label class="form-label" for="sexe" ></label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form">
                                            <input class="form-check-input me-2" type="checkbox" name="inapte" value="ITemporaire" >Inapte Temporaire
                                        </div>
                                    </div> 
                                    <div class="col">
                                        <div class="form">
                                            <input class="form-check-input me-2" type="checkbox" name="inapte" value="IDefinitif">Inapte Definitif<br><br>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <div class="form">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" required="">Code_CI</label>
                                        </div>
                                        <div class="form">
                                            <input type="text" name="code_ci" id="" placeholder="" class="form-control" required="">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div  class="form">
                                    <label class="form-label" for="form6Example1">IDENTIFICATION AGENT D'ENTRETIEN PRE DON(code Inlog ou nom prénom et signature):</label>
                                    <input type="text" name="identification" id="identification" placeholder="" class="form-control" required="">
                                </div>
                                
                            
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ajouterUniteDeMesure() {
      var quantiteInput = document.getElementById("quantite");
      quantiteInput.value = quantiteInput.value.trim() + ".ml";
    }
  </script>

{% endblock  %} 